
body {
    background-image: url("pe_wallpapers1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.question-container {
    position: absolute;
    top: 45%;
    left: 1%;
    background-color: rgb(118, 162, 162); /* Add your desired background color */
    padding: 20px;
    border-radius: 10px; /* Add rounded corners */
    width: 50%;
}
.question-container002 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(108, 108, 108); /* Add your desired background color */
    padding: 20px;
    border-radius: 0px; /* Add rounded corners */
    width: 200%;
}
.submit-button {
    position: absolute;
    bottom: -90%;
    background-color: rgba(226, 85, 10, 50%); /* Add your desired background color */
    padding: 10px;
    border-radius: 10px; /* Add rounded corners */
    width: 10%;
}
.recomand-text1 {
    position: absolute;
    bottom: -97%;
    background-color: rgba(152, 40, 40, 0.427); /* Add your desired background color */
    padding: 12px;
    border-radius: 12px; /* Add rounded corners */
    width: 15%;
}
.refresh-page1 {
    position: absolute;
    bottom: -107%;
    background-color: rgba(22, 139, 20, 0.636); /* Add your desired background color */
    padding: 20px;
    border-radius: 20px; /* Add rounded corners */
    width: auto;
}
/* .scoring_end_cotainer {
    position: absolute;
    bottom: -115%;
    background-color: rgba(182, 61, 61, 0.636);
    padding: 20px;
    border-radius: 20px;
    width: auto;
} */
html {
    zoom: 1.0;
}
